body {
  background-image: linear-gradient(#102667,#2559aa);
}

.sun-img {

width: 50px;
float: right;
}
.group-wrap {
  display: inline-block;
  width: 19%;
  height:100%;
  overflow:hidden;
  text-align: center;
  border-right: 1px solid;
  border-left: 1px solid;
  color:white;


}
.group-wrap li {
  
  padding-top: 30%;

}

.city {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 5px;
  color:white

}

.search-input{
  color:white;
  margin-right: 12px;

}

.search-form{
  margin-bottom: 35px;

}

.not-found {
  overflow:hidden;
  text-align: center;

}

.material-icons{
   font-size: 100px;
   }
